.movieListCard{
    margin-top: 5%;
    text-align: center;
    background-color:black;

}
.movie-image img{
   width:150px;

}
.movieListCard .movieListCard_container{
    width:200px;
    height: 380px;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}
.movieListCard * {

    background-color:black;
}
.movie-image{
    margin:30px;
    cursor: pointer;
}
.movieListCard h5{
    color:white;
}
.movieListCard .deleteButton button{
    color:red;
}

.movieList{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-right: 10%;
    margin-left: 10%;
    padding-bottom: 5%;

}