.movieListCard{
    text-align: center;
 

}
.movie-image img{
   width:150px;
   border-radius: 20%;
}
.movie-image{
    margin:30px;
    cursor: pointer;
}

.movieList{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-right: 10%;
    margin-left: 10%;
    padding-bottom: 5%;

}